Repository hmcts/ia-home-office-mock-api, pull requests merged in 2020-10, with the labels that each got.

#37 RIA-3545: Add mock responses for different error scenario
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/infrastructure/api/ApplicationStatusApi.java
  src/main/resources/ho-api_get-by-search-params_200-valid-no-main-applicant-response-2222.json
  src/main/resources/ho-api_get-by-serach-params_200_valid-no-main-applicant-response-1111.json
  src/main/resources/ho_api_get-by-search-params_200_error-response.json
  src/main/resources/ho_api_get-by-search-params_200_invalid-format-1060.json
  src/main/resources/ho_api_get-by-search-params_200_no-appellant-found-1010.json
  src/main/resources/ho_api_get-by-search-params_200_no-ho-reference-data-found-1020.json
Labels: ns:ia, prd:ia, rel:ia-home-office-mock-api-pr-37, stale

#41 Added a suppression
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-mock-api-pr-41

#39 RIA-3308: Added authorization header to HomeOffice Instruct mock end point
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/domain/entities/Challenge.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/domain/entities/InstructMessage.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/infrastructure/api/ApplicationInstructApi.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/infrastructure/api/ApplicationStatusApi.java
Labels: ns:ia, prd:ia, rel:ia-home-office-mock-api-pr-39
