Repository hmcts/ia-home-office-mock-api, pull requests merged in 2020-08, with the labels that each got.

#26 Modify sample response for DOB
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/infrastructure/api/ApplicationStatusApi.java
Labels: ns:ia, prd:ia, rel:ia-home-office-mock-api-pr-26

#29 Smoke test added, Base path modified
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/org/openapitools/configuration/OpenAPIDocumentationConfig.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/infrastructure/api/ApplicationInstructApiController.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/infrastructure/api/ApplicationStatusApiController.java
  src/smokeTest/java/uk/gov/hmcts/reform/iahomeofficemockapi/infrastructure/controller/SmokeTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-mock-api-pr-29

#31 RIA-3564: Added additional responses for different scenarios and support for /token endpoint and to receive authorization header
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/infrastructure/api/ApplicationStatusApi.java
  src/main/resources/ho-api_get-by-search-params_200-valid_response-01.json
  src/main/resources/ho-api_get-by-serach-params_200_valid-response-02.json
  src/main/resources/ho_api_get-by-search-params_200_no-data-found-cid-ref.json
  src/main/resources/ho_api_get-by-search-params_200_no-data-found-uan-ref.json
Labels: ns:ia, prd:ia, rel:ia-home-office-mock-api-pr-31

#32 RIA-3564: removed redundant conditions
  src/main/java/uk/gov/hmcts/reform/iahomeofficemockapi/generated/infrastructure/api/ApplicationStatusApi.java
Labels: ns:ia, prd:ia, rel:ia-home-office-mock-api-pr-32
